# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  - main

resources:
  containers:
    - container: WinServer2019
      image: windows-2019

    - container: WinServer2016
      image: vs2017-win2016

jobs:
  - job: RunInContainer
    pool:
      vmImage: 'windows-latest'

    strategy:
      matrix:
        WinServ2019:
          containerResource: WinServer2019
        WinServ2016:
          containerResource: WinServer2016

    steps:
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '11'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    - task: NodeTool@0
      displayName: 'Install Node 12.x'
      inputs:
        versionSpec: 12.x

  #removed 'javaHomeOption' and  'jdkVersionOption' as using task 'JavaToolInstaller` , which sets java home on agent
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        #javaHomeOption: 'JDKVersion'
        #jdkVersionOption: '1.11'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: '**/target/cucumber.html'
        goals: 'clean verify -P acceptanceTests -e -X'

    - task: InlinePowershell@1
      displayName: 'Inline Powershell'
      inputs:
        Script:
          Write-Host "##vso[task.setvariable variable=CustomArtifactName]$(Get-Date -Format yyyyMMddhhmmss)"

    - task: PublishPipelineArtifact@1
      displayName: Publish war
      inputs:
        pathToPublish: $(System.DefaultWorkingDirectory)/s/target/
        artifactName: 'drop-war-$(CustomArtifactName)'

    - task: PublishPipelineArtifact@1
      displayName: Publish pom
      inputs:
        pathToPublish: $(System.DefaultWorkingDirectory)/s/
        artifactName: 'pom.xml'

    - task: PublishPipelineArtifact@1
      displayName: Publish cucumber report
      inputs:
        pathToPublish: $(System.DefaultWorkingDirectory)/s/target/
        artifactName: 'cucumber.html'
  # if get error "A task is missing. The pipeline references.." install it manually from marketplace
    - task: PublishCucumberReport@1
      inputs:
        jsonDir: ./target/
        outputPath: ./target/
