# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  - main

#resources:
  #containers:
   # - container: WinServer2019
    #  image: windows-2019

   # - container: WinServer2016
   #   image: vs2017-win2016

jobs:
  - job: RunInContainer
    pool:
      vmImage: 'windows-latest'
    variables:
    - group: var-group
    strategy:
      matrix:
        WinServ2019:
          #containerResource: WinServer2019
          #containerImage: WinServer2019
          containerImage: selenium/hub:4.0.0-beta-3-20210426
        WinServ2016:
          #containerImage: vs2017-win2016
          #containerResource: WinServer2016
          containerImage: selenium/hub:4.0.0-beta-3-20210426
    steps:
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '11'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    - task: NodeTool@0
      displayName: 'Install Node 12.x'
      inputs:
        versionSpec: 12.x

  #removed 'javaHomeOption' and  'jdkVersionOption' as using task 'JavaToolInstaller` , which sets java home on agent
    - task: Maven@3
      inputs:
        mavenPomFile: 'pom.xml'
        mavenOptions: '-Xmx3072m'
        #javaHomeOption: 'JDKVersion'
        #jdkVersionOption: '1.11'
        jdkArchitectureOption: 'x64'
        publishJUnitResults: true
        testResultsFiles: '**/target/cucumber.html'
        goals: 'clean verify -P acceptanceTests -e -X'

    - task: InlinePowershell@1
      displayName: 'Inline Powershell'
      inputs:
        Script:
          # set group variable CustomArtifactName to a unique value so it can be concatenated in publish
          #tasks to make the artifact name unique to avoid overwriting issue for matrix strategy
          #group variable is defined in build pipeline in azure UI
          Write-Host "##vso[task.setvariable variable=CustomArtifactName]$(Get-Date -Format yyyyMMddhhmmss)"
    - task: PublishPipelineArtifact@1
      displayName: Publish war
      inputs:
        pathToPublish: $(System.DefaultWorkingDirectory)/s/target/
        artifactName: 'drop-war-''$(CustomArtifactName)'

    - task: PublishPipelineArtifact@1
      displayName: Publish pom
      inputs:
        pathToPublish: $(System.DefaultWorkingDirectory)/s/
        artifactName: 'drop-pom-'$(CustomArtifactName)

    - task: PublishPipelineArtifact@1
      displayName: Publish cucumber report
      inputs:
        pathToPublish: $(System.DefaultWorkingDirectory)/s/target/
        artifactName: 'drop-cucumber-''$(CustomArtifactName)'
  # if get error "A task is missing. The pipeline references.." install it manually from marketplace
    - task: PublishCucumberReport@1
      inputs:
        jsonDir: ./target/
        outputPath: ./target/

    - task: PowerShell@2
      inputs:
        targetType: 'inline'
        script: |
                $token = "62x3rhx6icnh2le77hg7wewionwzesvcryhjnqcbhvoys3tccf5a"

                $url="https://dev.azure.com/neeshpal/APITesting/_apis/distributedtask/variablegroups/1?api-version=5.0-preview.1"

                $token = [System.Convert]::ToBase64String([System.Text.Encoding]::ASCII.GetBytes(":$($token)"))

                $JSON = @'
                {
                  "id":1,
                "type": "Vsts",
                  "name": "var-group",
                  "description": "Updated variable group",

                  "variables": {
                    "CustomArtifactName": {
                      "value": "$(CustomArtifactName)"
                    }

                  }

                }
                '@

                $response = Invoke-RestMethod -Uri $url -Headers @{Authorization = "Basic $token"} -Method PUT -Body $JSON -ContentType application/json
                Write-Host "New Variable Value:"$response.variables.CustomArtifactName.value
