# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  - main

resources:
  containers:
    - container: u14
      image: ubuntu:14.04

    - container: u16
      image: ubuntu:16.04

jobs:
  - job: RunInContainer
    pool:
      vmImage: 'ubuntu-18.04'

    strategy:
      matrix:
        ubuntu14:
          containerResource: u14
        ubuntu16:
          containerResource: u16

steps:

  - task: JavaToolInstaller@0
    inputs:
      versionSpec: '11'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  - task: NodeTool@0
    displayName: 'Install Node 12.x'
    inputs:
      versionSpec: 12.x

  #removed 'javaHomeOption' and  'jdkVersionOption' as using task 'JavaToolInstaller` , which sets java home on agent
  - task: Maven@3
    inputs:
      mavenPomFile: 'pom.xml'
      mavenOptions: '-Xmx3072m'
      #javaHomeOption: 'JDKVersion'
      #jdkVersionOption: '1.11'
      jdkArchitectureOption: 'x64'
      publishJUnitResults: true
      testResultsFiles: '**/target/cucumber.html'
      goals: 'clean verify -P acceptanceTests -e -X'

  - task: PublishPipelineArtifact@1
    displayName: Publish war
    inputs:
        pathToPublish: $(System.DefaultWorkingDirectory)/s/target/
        artifactName: 'web-apiTest-cu-ra-j5-1.0-SNAPSHOT.war'

  - task: PublishPipelineArtifact@1
    displayName: Publish pom
    inputs:
        pathToPublish: $(System.DefaultWorkingDirectory)/s/
        artifactName: 'pom.xml'

  - task: PublishPipelineArtifact@1
    displayName: Publish cucumber report
    inputs:
        pathToPublish: $(System.DefaultWorkingDirectory)/s/target/
        artifactName: 'cucumber.html'
  # if get error "A task is missing. The pipeline references.." install it manually from marketplace
  - task: PublishCucumberReport@1
    inputs:
      jsonDir: ./target/
      outputPath: ./target/
